#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}

div#wall div#tag-3.slick {
  display: none;
}

div .parent {
  display: none;
}

/* Why does this require 300 bytes??? 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 better? */